#App {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(157, 157, 157);
  text-align: center;
  overflow-x: hidden;
  background-image: url('./img/back.jpg');
  background-position: center;
  background-size: 25%;

  #blurWind {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 162, 162, 0.1);
  }
}


// Variables
:root {
  --blurBack: 20px;
  --blurPlayer: 10px;
  --midTransparent: rgba(52, 52, 52, 0.7);
  --yellowDisp: rgb(246, 217, 28);   
  --yellowDispTransp: rgba(246, 217, 28, 0.8);   
  --redDisp: rgb(255, 22, 22);
  --redDispTransp: rgba(255, 22, 22, 0.8);
  --emittedMsg: #b8b8b8;
	--receivedMsg: #4f4f4f;
  --msgRadius: 1vh;
}


// Styles
input {
  border-style: none; 
  background: rgba(222, 226, 239, 0.8);
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 0.6vh;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
}

button {
  width: 80%;
  height: 70%;
  border: 1px solid black;
  border-radius: 0.6vh;
  font-size: 3vh;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
      background-color: lightgray;
  }
}